<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
</head>
<body>
  Hello Word!
  <button id="clickGo">點擊發出</button>
  <button id="clickGo2">點擊發出2</button>
  <script src="javascripts/temi.bundle.js"></script>
</body>
</html>